# caches
__pycache__
.mypy_cache
*.pickle

# build artifacts
dist/
_version.py

# docs build artifacts
docs/html/
docs/doctrees/
docs/source/modules/
*.doctree

# editor files
*.sublime-project
*.sublime-workspace
