name: On Push To Master

on:
  push:
    branches:
      - main

jobs:
  deploy_docs:
    name: Deploy documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - run: |
          cd docs
          make install
          make build
          make deploy
